<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Attendance Lock Unlock List</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">masters</li>
                        <li class="breadcrumb-item active" aria-current="page">Attendance Setup</li>
                        <li class="breadcrumb-item active" aria-current="page">Attendance Lock Unlock List</li>
                    </ol>
                </nav>
            </div>
        </div>
        
    </div>
    <!-- /Page Header -->
    <div class="row filter-row">
        <div class="col-md-8">
            <div class="row">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="add-emp-section">
               
                <div class="add-emp-section">
                    <a class="btn btn-success btn-add-emp"  style="width: auto;" (click)="showContainer()" *ngIf="!showMyContainer"><i class="fas fa-plus"></i>Add New </a>
                    <a class="btn btn-success btn-add-emp"  style="width: auto;" (click)="hideMyContainer()" *ngIf="showMyContainer"><i class="fas fa-bars"></i> Show Table</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showMyContainer">
        <div class="col-sm-12">
            <div class="card mb-0">
                
                <div class="card-body">

                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="datatable table table-stripped mb-0" *ngIf="tableData"> 
                            <thead >
                                <tr>
                                    <th>Employee</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                   <!-- <th>Created By</th> -->
                                   <!-- <th>Created Date</th>-->
                                   <th>Is Locked</th> 
                                   <!-- <th class="text-center ico-sec justify-content-center">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tableData">
                                  <td>{{item.employeeId}}</td>
                                  <td>{{item.fromDate | date: 'dd-MM-yyyy'}}</td>
                                  <td>{{item.toDate | date: 'dd-MM-yyyy'}}</td>
                                  <!-- <td>{{item.createdDate}}</td>-->
                                    <td>{{item.locked == true? 'Active' : 'Inactive'}}</td> 
                                    <!-- <td class="text-center ico-sec justify-content-end">
                                        <a  (click)="edit(item.attendanceLockUnLockId)"><i class="fas fa-pen"></i></a>
                                        <a  (click)="delete(item.attendanceLockUnLockId)"><i class="far fa-trash-alt"></i></a>
                                    </td> -->
                                </tr>
                                
                            </tbody>
                        </table>
                        <table datatable [dtOptions]="dtOptions" class="datatable table table-stripped mb-0" *ngIf="!tableData"> 
                            <thead >
                                <tr>
                                    <th>Employee</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                   <th>Created By</th>
                                   <th>Created Date</th>
                                   <th>Is Locked</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let company of tableData">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                 </tr>
                                
                            </tbody>
                        </table>
                      
                    </div>
                    <img class="loader " src="/assets/img/loader/loader.gif" *ngIf="loader"> 
                </div>
            </div>
        </div>
    </div>
    

    <div class="row" *ngIf="showMyContainer">
        <div class="col-sm-12">
    
            <!-- Custom Boostrap Validation -->
            <div class="card" >
                <div class="card-header">
                    <h4 class="card-title mb-0">Attendance Lock Unlock Form</h4>
                   
                </div>
                <div class="card-body" > 
                    <div class="row">
                        <div class="col-sm">
                            <form class="needs-validation" novalidate [formGroup]="lockListForm">
                                <div class="form-row row">
                                    <div class="col-md-4 mb-2">
                                        <label class="focus-label">From Date <small>*</small></label>
                                        <div class="form-group form-focus mb-0">
                                            <div class="cal-icon">
                                                <input class="form-control floating datetimepicker" bsDatepicker   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',  returnFocusToInput: true }" formControlName="fromDate">
                                            </div>
                                           <small *ngIf="lockListForm.get('fromDate').invalid && lockListForm.get('fromDate').touched">This Field is Required</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label class="focus-label">To Date <small>*</small></label>
                                        <div class="form-group form-focus mb-0">
                                            <div class="cal-icon">
                                                <input class="form-control floating datetimepicker" bsDatepicker   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',  returnFocusToInput: true }" formControlName="toDate">
                                            </div>
                                           <small *ngIf="lockListForm.get('toDate').invalid && lockListForm.get('toDate').touched">This Field is Required</small>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4 mb-3">
                                        <label>Lock List Name<span>*</span></label>
                                           <select class="form-select form-control" formControlName="lockListName">
                                               <option value="">--Select--</option>
                                             </select>
                                             <small *ngIf="lockListForm.get('lockListName').invalid && lockListForm.get('lockListName').touched">This Field is Required</small>
                                            </div> -->
                                    <div class="col-md-4 mb-3">
                                        <label>Employees <small>*</small></label>
                                        <div>
                                         <ngx-bootstrap-multiselect 
                                         class="multselect "
                                         [options]="employee" 
                                         [(ngModel)]="optionsModel" 
                                         [value] = employee.id
                                         formControlName="employee" 
                                         [texts]="myTexts" 
                                         [settings]="mySettings"
                                         >
                                         
                                         </ngx-bootstrap-multiselect>
                                    </div>
                                    <small *ngIf="lockListForm.get('employee').invalid && lockListForm.get('employee').touched">This Field is Required</small>
                                    </div>
                                 
                                </div>
    
                                
                                
                                <button class="btn btn-primary" (click)="submit()" *ngIf="!update">Submit</button>
                                <button class="btn btn-primary"  (click)="updateForm()" *ngIf="update">Update</button>
                                <button class="btn" (click)="cancel()">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
         </div>
     </div>  



</div>
<div class="modal custom-modal fade" id="delete_company" role="dialog" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Designation</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="delete()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>