<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Import Employee Shift change Details Master</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Attendance & Leave</li>
                        <li class="breadcrumb-item active" aria-current="page">Attendance</li>
                        <li class="breadcrumb-item active" aria-current="page">Import Attendance with Shift</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <!-- <div class="row filter-row">
        
        <div class="col-md-4">
            <div class="add-emp-section">
               
                <a class="btn btn-success btn-add-emp"  style="width: auto;"  routerLink="/layout/attendance&leave/attendance"><i class="fas fa-bars"></i> Attendance List</a>
            </div>
        </div>
    </div> -->

    <div class="row" >
        <div class="col-sm-12">
    
            <!-- Custom Boostrap Validation -->
            <div class="card" >
                <div class="card-header">
                    <h5 class="card-title mb-0">Import Employee Shift change Details Master</h5>
                </div>
                <div class="card-body" > 
                    <div class="row">
                        <div class="col-sm">
                            <form class="needs-validation" [formGroup]="importAttendanceForm">
                                <div class="form-row row">
                                    <div class="col-md-4 mb-3">
                                      <label class="focus-label">Choose File</label>
                                      <input type="file"  #myInput class="form-control"  class="form-control" (change)="onChange($event)"> 
                                       
                                    </div>
                                    <div class="col-md-4 mb-3">
                                   <button class="btn btn-primary" (click)="getSheet()" [disabled]="disabled">Get Sheet</button>
                                   <button class="download btn btn-success ;"  (click)="exportexcel()" style="margin-left: 10px;"><i class="fas fa-download"></i></button>
                                    </div>
                                </div>
    
                                <div class="col-md-4 mb-3" *ngIf="sheet">
                                    <label  >Given For</label>
                                    <select class="form-select form-control" formControlName="givenFor">
                                        <option>--Select--</option>
                                        <option *ngFor="let item of sheet" [value]="item.firstShift+'~' +item.secondShift">{{item.firstShift}}</option>
                                    </select>
                                </div>
                                
                                <!-- <button class="btn btn-primary" *ngIf="update" (click)="updateSubDepartment()">Update</button> -->
                                <button class="btn btn-primary"  (click)="submit()" [disabled]="disabled">Submit</button>
                                <button class="btn " (click)="cancel()">Cancel</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
         </div>
     </div> 
     </div>
     <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0" style="color: red;">{{errorMessage}}</h5>
        </div>
    </div>
     <div style=" margin: auto; width: 50%;" style="display: none;">
        
        <table id="excel-table">
          <tr>
            <th>employeeNo</th>
            <th>date</th>
            <th>aInTime</th>
            <th>aOutTime</th>	
            <th>nextDayOut</th>	
            <th>nonDayOrHalf</th>
          </tr>
         
        </table>
      </div>