.fixed-width {
    width: 200px !important; /* Adjust the width as needed */
    text-align: center; /* Center-align the text */
}
.mat-table {
    border-collapse: collapse;
    width: 100%;
}

.mat-header-cell, .mat-cell {
    border: 1px solid #ddd;
    padding: 8px;
    font: bold;
}

.mat-header-row {
    background-color: #f2f2f2;
}

.mat-row:hover {
    background-color: #f1f1f1;
}