<div class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Export Database</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                            <li class="breadcrumb-item">General SetUp</li>
                            <li class="breadcrumb-item active" aria-current="page">Export Database</li>
                        </ol>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

   


   
    <div class="row" >

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Export Database</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <form [formGroup]="exportDatabase">
                                <div class="form-row row">

                                    <!-- <div class="col-md-4 mb-3">
                                        <label class="focus-label">Database Name <small>*</small></label>
                                        <input type="text" class="form-control" formControlName="databaseName">
                                        <small *ngIf="importDatabase.get('databaseName').invalid && importDatabase.get('databaseName').touched" class="text-danger"> *Database Name is Required</small>
                                    </div> -->

                                 
                                </div>
                                <button [disabled]="submitLoader" class="btn btn-primary" (click)="export()">Export<img  src="/assets/img/loader/button.gif"  *ngIf="submitLoader" style="width: 15px; height:15px;"></button>
                                <!-- <button class="btn" (click)="cancel()">Cancel</button> -->

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
