
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="row">
       <div class="col-md-12">
           <div class="page-head-box">
               <h3>Salary Formula List</h3>
               <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                       <li class="breadcrumb-item">Masters</li>
                       <li class="breadcrumb-item">Payroll Setup</li>
                       <li class="breadcrumb-item active" aria-current="page">Salary Formula</li>
                   </ol>
               </nav>
           </div>
       </div>
   </div>
   <!-- Search Filter -->
   <div class="row filter-row">
       <div class="col-md-8">

       </div>
       <div class="col-md-4">
           <div class="add-emp-section">
              
               <a  class="btn btn-success btn-add-emp" (click)="salaryFormula('add')"><i class="fas fa-plus"></i>Create New</a>
               
           </div>
           
       </div>
   </div>
   <!-- /Search Filter -->
   <div class="row" > 
    <div class="col-md-12">
        <div class="table-responsive">
<div class="card">
            <table class="table  custom-table datatable" datatable  [dtOptions]="dtOptions" *ngIf="tableData">
                <thead>
                    <tr>
                        <th>Formula Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th class="text-end no-sort">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                       <td>{{item.formulaName}}</td>
                       <td>{{item.date | date : 'dd-MM-yyyy'}} </td>
                       <td>{{(item.status==true)?'Active':'Inactive'}}</td>
                       <td class="text-end ico-sec justify-content-end">
                            <a ><i class="fas fa-pen" (click)="salaryFormula(item.salaryStructureId)"></i></a>
                            <a  ><i class="far fa-trash-alt" (click)="delete(item.salaryStructureId)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table  custom-table datatable" datatable  [dtOptions]="dtOptions" *ngIf="!tableData">
                <thead>
                    <tr>
                        <th>Formula Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th class="text-end no-sort">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                       <td>{{item.formulaName}}</td>
                       <td>{{item.date | date : 'dd-MM-yyyy'}} </td>
                       <td>{{(item.status==true)?'Active':'Inactive'}}</td>
                       <td class="text-end ico-sec justify-content-end">
                            <a ><i class="fas fa-pen" (click)="salaryFormula(item.salaryStructureId)"></i></a>
                            <a  ><i class="far fa-trash-alt" (click)="delete(item.salaryStructureId)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 <img class="loader " src="/assets/img/loader/loader.gif" *ngIf="loader"> 
    </div>
</div>
   
   </div>
   
  