
<div class="content container-fluid">

    <div class="row">
       <div class="col-md-12">
           <div class="page-head-box">
               <h3>Change Password</h3>
               <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                       <li class="breadcrumb-item">General SetUp</li>
                       <li class="breadcrumb-item"></li>
                       <li class="breadcrumb-item active" aria-current="page">Change Admin Password</li>
                   </ol>
               </nav>
           </div>
       </div>
   </div>
   
   <div class="row filter-row">
       <div class="col-md-8">
         
       </div>
       <div class="col-md-4">
          
           
       </div>
   </div>
   <div class="row" >
    <div class="col-sm-12">
        <div class="card" >
            <h4 class="card-title">Change Password</h4>
       
        <div class="card-body" >
            <div class="row">
                <div class="col-sm">
                    <form class="needs-validation" novalidate  [formGroup]="changePasswordForm">
                        <div class="form-row row">
                         
                         <!-- <div class="col-md-4 mb-3">
                             <label for="type">User Name <small>*</small></label>
                             <input type="text" class="form-control" formControlName="userName">
                             <small
                             *ngIf="changePasswordForm.get('userName').invalid && changePasswordForm.get('userName').touched"
                             class="text-danger"> *This Field is Required</small>
                         </div> -->
                        
                        <!-- <div class="col-md-4 mb-3" *ngIf="userType=='Admin'">
                            <label class="">Admin<small> *</small></label>
                        <ng-select class="form-select form-control"  formControlName="employee" >
                            <ng-option *ngFor="let item of employees; let i = index" [value]="item.employeeId">{{item.employeeCode}} {{item.firstName}} {{item.lastName}}</ng-option>
                        </ng-select>
                        <small *ngIf="changePasswordForm.get('employee').invalid && changePasswordForm.get('employee').touched">Employee is required</small>
                        </div> -->

                         <div class="col-md-4 mb-3">
                             <label for="type">Change Password<small class="text-danger">*</small></label>
                             <input type="password" class="form-control" formControlName="password">
                             <small
                             *ngIf="changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched"
                             class="text-danger"> *This Field is Required</small>
                             
                         </div>
                         <div class="col-md-4 mb-3">
                             <label for="type">Confirm Password <small class="text-danger">*</small></label>
                             <input type="password" class="form-control" formControlName="confirmPassword">
                             <small
                             *ngIf="changePasswordForm.controls.confirmPassword.hasError('required') && changePasswordForm.get('confirmPassword').touched " 
                             class="text-danger"> *This Field is Required</small>
                             <small
                             *ngIf="changePasswordForm.controls.confirmPassword.hasError('confirmedValidator')"
                             class="text-danger"> Password Does Not match</small>
                         </div>
                        </div> 
                         <button  class="btn btn-primary" (click)="update()" >Update </button>&nbsp;&nbsp;
                         <button class="btn btn-primary" (click)="cancel()">Cancel</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 </div>

      

   
   
 
   
   
 
   
   
   
   