<div class="content container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Reimb Expense Master Form</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payroll </li>
                        <li class="breadcrumb-item active" aria-current="page">Reimbursement</li>
                        <li class="breadcrumb-item active" aria-current="page">Reimb Expense</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row filter-row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="add-emp-section">


                <a class="btn btn-success btn-add-emp" (click)="showTable()"><i class="fas fa-bars"></i>Show Table</a>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title mb-0">Reimb Expense Form</h1>
                </div>


                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <form class="needs-validation" novalidate [formGroup]="reimberseExpenseForm">
                                <div class="form-row row">

                                    <div class="col-md-4 mb-3">
                                        <label class="focus-label">State <small>*</small></label>
                                        <select class="form-select floating form-control" formControlName="state">
                                              <option ></option>
                                              <option  *ngFor="let item of stateList" [value]="item.stateId">{{item.stateName}}</option>
                                          </select>


                                        <small *ngIf="reimberseExpenseForm.get('state').invalid && reimberseExpenseForm.get('state').touched" class="text-danger"> *State is Required</small>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label class="focus-label">Branch <small>*</small></label>
                                        <select class="form-select floating form-control" formControlName="branch">
                                              <option value=""> </option>
                                              <option  *ngFor="let item of branch" [value]="item.id">{{item.branchName}}</option>
                                          </select>


                                        <small *ngIf="reimberseExpenseForm.get('branch').invalid && reimberseExpenseForm.get('branch').touched" class="text-danger"> *Branch is Required </small>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Department <small>*</small></label>

                                        <select class="form-select form-control" formControlName="department">
                                            <option value="">--Select--</option>
                                            <option *ngFor="let item of departments" [value]="item.departmenId">{{item.departmentName}}</option>
                                        </select>
                                        <small *ngIf="reimberseExpenseForm.get('department').invalid && reimberseExpenseForm.get('department').touched" class="text-danger"> *Department is Required</small>
                                    </div>

                                    <!-- <div class="col-md-4 mb-3">
                                    <label >Grade <small>*</small></label>
                                    <ngx-bootstrap-multiselect class="multselct "
                                    [options]="myOptions" 
                                    [(ngModel)]="optionsModel" 
                                    (ngModelChange)="onChange($event)"
                                    [value] = myOptions.name
                                    formControlName="grade">

                                    </ngx-bootstrap-multiselect>
                                        <small
                                        *ngIf="reimberseExpenseForm.get('grade').invalid && reimberseExpenseForm.get('grade').touched"
                                        class="text-danger"> *Grade is Required</small>
                                </div> -->
                                    <div class="col-md-4 mb-3">
                                        <label>City <small>*</small></label>

                                        <select class="form-select form-control" formControlName="city">
                                            <option value="">--Select--</option>
                                            <option *ngFor="let item of cityList" [value]="item.id">{{item.cityName}}</option>
                                        </select>
                                        <small *ngIf="reimberseExpenseForm.get('city').invalid && reimberseExpenseForm.get('city').touched" class="text-danger"> *City is Required</small>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="type">Expense Name <small>*</small></label>
                                        <input type="text" class="form-control" formControlName="name">
                                        <small *ngIf="reimberseExpenseForm.get('name').invalid && reimberseExpenseForm.get('name').touched" class="text-danger"> *Expense Name is Required</small>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="type">Limited</label>
                                        <input type="checkbox" class="checkbox-all ms-5" formControlName="limited" [(ngModel)]="binding">

                                    </div>

                                    <div class="col-md-4 mb-3" *ngIf="binding">
                                        <label>Per Person Limit</label>
                                        <input type="number" class="form-control" formControlName="perPersonLimit">
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="focus-label">Effective Date <small>*</small></label>
                                        <div class="form-group form-focus mb-0">
                                            <div class="cal-icon">
                                                <input class="form-control floating datetimepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" formControlName="effectiveDate">
                                            </div>
                                            <small *ngIf="reimberseExpenseForm.get('effectiveDate').invalid && reimberseExpenseForm.get('effectiveDate').touched">This field is required *</small>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <label>Status</label>
                                        <input type="checkbox" class="checkbox-all ms-5" formControlName="status">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label>Description</label>
                                        <input type="text" class="form-control" formControlName="description">
                                    </div>
                                </div>
                                <button class="btn btn-primary" (click)="submit()" *ngIf="editId == 'add';else other_content">Submit</button>
                                <ng-template #other_content> <button class="btn btn-primary" (click)="update()">Update</button></ng-template>

                                <button class="btn" (click)="cancel()">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>