
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="row">
       <div class="col-md-12">
           <div class="page-head-box">
               <h3>Provident Fund Master</h3>
               <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Masters</li>
                    <li class="breadcrumb-item active" aria-current="page">Statutory Compliance Setup</li>
                    <li class="breadcrumb-item active" aria-current="page">Provident Fund</li>
                </ol>
               </nav>
           </div>
       </div>
   </div>
   <!-- Search Filter -->
   <div class="row filter-row">
       <div class="col-md-8">

       </div>
       <div class="col-md-4">
           <div class="add-emp-section">
              
               <a  class="btn btn-success btn-add-emp" (click)="add('add')"><i class="fas fa-plus"></i>Create New</a>
               
           </div>
           
       </div>
   </div>
   <!-- /Search Filter -->
   <div class="row" > 
    <div class="col-md-12">
        <div class="table-responsive">
            <div class="card">
            <table class="table custom-table datatable" datatable  [dtOptions]="dtOptions" *ngIf="tableData">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Date</th>
                        <th>Employee Cont</th>
                        <!-- <th>SubCategory</th> -->
                        <th>Employeer Cont</th>
                        <th>Gender</th>
                        <th>Max Amount</th>
                        <th>Status</th>
                        <th class="text-end no-sort">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                       <td>{{item.state}}</td>
                       <td>{{item.pfeffectiveDate | date:'dd-MM-yyyy'}}</td>
                       <td>{{item.employeeContributionInPercentage}}</td>
                       <!-- <td>{{item.subCategory}}</td> -->
                       <td>{{item.employerContributionInPercentage}}</td>
                       <td>{{item.gender}}</td>
                       <td>{{item.maxAmountApplicable }} </td>
                       <td>{{item.pfstatus}} </td>
                       <td class="text-end ico-sec justify-content-end">
                            <a ><i class="fas fa-pen" (click)="add(item.providentFundId)"></i></a>
                            <a  ><i class="far fa-trash-alt" (click)="delete(item.providentFundId)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table custom-table datatable" datatable  [dtOptions]="dtOptions" *ngIf="!tableData">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Date</th>
                        <th>Employee Cont</th>
                        <!-- <th>SubCategory</th> -->
                        <th>Employeer Cont</th>
                        <th>Gender</th>
                        <th>Max Amount</th>
                        <th>Status</th>
                        <th class="text-end no-sort">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                       <td>{{item.state}}</td>
                       <td>{{item.pfeffectiveDate | date:'dd-MM-yyyy'}}</td>
                       <td>{{item.employeeContributionInPercentage}}</td>
                       <!-- <td>{{item.subCategory}}</td> -->
                       <td>{{item.employerContributionInPercentage}}</td>
                       <td>{{item.gender}}</td>
                       <td>{{item.maxAmountApplicable }} </td>
                       <td>{{item.pfstatus}} </td>
                       <td class="text-end ico-sec justify-content-end">
                            <a ><i class="fas fa-pen" (click)="add(item.providentFundId)"></i></a>
                            <a  ><i class="far fa-trash-alt" (click)="delete(item.providentFundId)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 <img class="loader " src="/assets/img/loader/loader.gif" *ngIf="loader"> 
    </div>
</div>
   
   </div>
   
  