<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Import Salary With Salaryhead</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Payroll</a></li>
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Import</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Import Salary With Formula</li>
                        <li class="breadcrumb-item active" aria-current="page">Import Salary With Salaryhead</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <!-- <div class="row filter-row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="add-emp-section">
               
                <a class="btn btn-success btn-add-emp"  style="width: auto;"  routerLink="/layout/masters/payElementMaster"><i class="fas fa-bars"></i>Salary Formula List</a>
            </div>
        </div>
    </div> -->

    <div class="row" >
        <div class="col-sm-12">
    
            <!-- Custom Boostrap Validation -->
            <div class="card" >
                <div class="card-header">
                    <h4 class="card-title mb-0">Import Salary With Salaryhead</h4>
                </div>
                <div class="card-body" > 
                    <div class="row">
                        <div class="col-sm">
                            <form class="needs-validation" [formGroup]="importDesignaton1">
                                <div class="form-row row">
                                <div class="col-md-4 mb-3">
                                    <label>Import other allowances    </label>&nbsp;&nbsp;
                                    <mat-checkbox (change)="checkCheckBoxvalue($event)"></mat-checkbox>

                                    <!-- <input type="checkbox" value="true" (click)="selectthis()"  [(ngModel)]="myCheckbox" >  -->
                                </div>
                                </div>
                                
                                
                               



                            <div *ngIf="myCheckbox==false">
                                <div class="form-row row">

                                    <label>Import Main Sheet    </label>&nbsp;&nbsp;

                                    <div class="col-md-4 mb-3">
                                      <label class="focus-label">Choose File</label>
                                      <input type="file" #myInput class="form-control"  class="form-control" (change)="onChange($event)"> 
                                       
                                    </div>
                                    <div class="col-md-4 mb-3">
                                   <button class="btn btn-primary" (click)="getSheet()" [disabled]="disabled">Get Sheet</button>
                                   <button class="download btn btn-success ;"  (click)="exportexcel()" style="margin-left: 10px;" ><i class="fas fa-download"></i></button>
                                    </div>
                                </div>
    
                                <div class="col-md-4 mb-3" *ngIf="sheet">
                                    <label  >Given For</label>
                                    <select class="form-select form-control" formControlName="givenFor">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let item of sheet" [value]="item.sheetName+'~' +item.sheetIndex">{{item.sheetName}}</option>
                                    </select>
                                </div>
                                
                                <!-- <button class="btn btn-primary" *ngIf="update" (click)="updateSubDepartment()">Update</button> -->
                                <button class="btn btn-primary"  (click)="submit()"  [disabled]="disabled">Submit</button>
                                <button class="btn " (click)="cancel()">Cancel</button>
                                <!-- <a href="/assets/Excle/Department.xlsx" download>dsadsd</a> -->

                            </div>


                            <div *ngIf="myCheckbox==true">
                                <div class="form-row row">

                                    <label>Import other allowances    </label>

                                    <div class="col-md-4 mb-3">
                                      <label class="focus-label">Choose File</label>
                                      <input type="file" #myInput class="form-control"  class="form-control" (change)="onChange($event)"> 
                                       
                                    </div>
                                    <div class="col-md-4 mb-3">
                                   <button class="btn btn-primary" (click)="getSheet1()" [disabled]="disabled">Get Sheet</button>
                                   <button class="download btn btn-success ;"  (click)="exportexcel1()" style="margin-left: 10px;" ><i class="fas fa-download"></i></button>
                                    </div>
                                </div>
    
                                <div class="col-md-4 mb-3" *ngIf="sheet">
                                    <label  >Given For</label>
                                    <select class="form-select form-control" formControlName="givenFor">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let item of sheet" [value]="item.sheetName+'~' +item.sheetIndex">{{item.sheetName}}</option>
                                    </select>
                                </div>
                                
                                <!-- <button class="btn btn-primary" *ngIf="update" (click)="updateSubDepartment()">Update</button> -->
                                <button class="btn btn-primary"  (click)="submit1()"  [disabled]="disabled">Submit</button>
                                <button class="btn " (click)="cancel()">Cancel</button>
                                <!-- <a href="/assets/Excle/Department.xlsx" download>dsadsd</a> -->

                            </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
    
         </div>
     </div> 
     </div>

     <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0" style="color: red;">{{errorMessage}}</h5>
        </div>
    </div>

     <div style=" margin: auto; width: 50%;" style="display: none;">
        
        